<section>
    <div class="our-menu-component">
        <h2>OUR MENU</h2>
        <div class="menu-img-left">
            <img src="assets/img/r1.png" alt="Tonkasu">
            <div>
                <h3>Tonkasu Ramen</h3>
                <table>
                    <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="menu-img-left">

            <div>
                <h3>Spicy Miso Samen</h3>
                <table>
                    <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <img src="assets/img/r2.png" alt="Tonkasu">
        </div>
        <div class="menu-img-left">
            <img src="assets/img/r3.png" alt="Tonkasu">
            <div>
                <h3>Shio Ramen</h3>
                <table>
                    <tbody>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
